.Navbar {
  nav {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
  }

  /* Logo styles */
  nav img {
    height: 55px;
    width: 8%;
    margin-right: 10px;
  }

  /* Navigation links styles */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #808396;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  nav ul li a:hover {
    color: #030f4b;
  }


  button {
    display: flex;
    text-align: center;
    gap: 10px;
    border: 1px solid #FD4455;
    color: #FD4455;
    border-radius: 8px;
    padding: 13px 20px;
    position: relative;
    top: -15px;
  }

  button:hover {
    background-color: #FD4455;
    color: white;
  }
}
