.Blog {
  border: 1px solid white;
  width: 260px;
  margin-bottom: 40px;
  .image1 {
    width: 260px;
    height: 198px;
    margin: 10px 0;
  }
  .image2 {
    width: 57px;
    height: 57px;
  }

  b {
    color: #2b2c34;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 15px 0;
  }

  .flex-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 25px 0;
  }

  .flex-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  h3 {
    color: #2b2c34;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media (max-width: 480px) {
    width: 100%;

    .image1 {
      width: 175px;
      height: 168px;
      margin: 10px 5px;
    }

    .image2 {
      width: 45px;
      height: 45px;
    }

    b {
      font-size: 20px; 
    }

    .flex-1 {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 25px 0;
    }

    .flex-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3px;
      font-size: 12px;
    }
  }
}
